:root {
    --blue-color: #36c;
    --gray-border-color: #a2a9b1;
    --gray-text-color: #54595d;
    --gray-background-color: #f8f9fa;
    --font-family-title: 'Linux Libertine', sans-serif;
    --font-familiy-content: -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    font-family: var(--font-familiy-content);
}

.wikipedia__wrapper {
    position: relative;
}


/* Header styles */

.wikipedia__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    /* background-color: coral; */
    /* position: relative; */
}

.wikipedia__image-container {
    width: 57px;
}

.wikipedia__image {
    width: 100%;
}

.wikipedia__title {
    /* background-color: salmon; */
    text-align: center;
}

.title__text {
    font-size: 2.5rem;
    font-family: var(--font-family-title);
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    /* background-color: seagreen; */
}

.title__text::first-letter,
.title__text span {
    font-size: 3.2rem;
}

.title__slogan {
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
}


/* styles to idioms section */

.wikipedia__idioms {
    margin-top: 7rem;
    margin-bottom: 4em;
    /* background-color: steelblue; */
}

.idioms__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin: 0 20px;
}

.idiom__link {
    text-decoration: none;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* background-color: teal; */
    display: block;
    text-align: center;
}

.idiom__name {
    color: var(--blue-color);
    font-size: 1.4rem;
    margin-bottom: 8px;
    display: block;
}

.idiom__numarticles {
    color: var(--gray-text-color);
    display: block;
    font-size: 1.3rem;
    line-height: 1.4;
    font-family: var(--font-familiy-content);
}


/* Search bar */

.wikipedia__search {
    /* background-color: salmon; */
    margin: 0 10px;
    margin-bottom: 80px;
    height: 78px;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}

.search__form {
    height: 42px;
}

.search__bar {
    border: none;
    display: grid;
    grid-template-columns: 85% 15%;
    height: inherit;
}

.search__left {
    display: flex;
    justify-content: space-between;
    /* background-color: seagreen; */
    border: 1px solid var(--gray-border-color);
    border-radius: 2px 0 0 2px;
}

.search__input {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    padding: 5px 8px;
    border: none;
    outline-color: #447FF5;
}

.search__idiom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: khaki; */
    padding: 0 10px;
}

.idiom__select {
    width: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline-color: transparent;
    color: var(--gray-text-color);
}

.idiom__now {
    font-size: 1.3rem;
    margin-right: 5px;
    color: var(--gray-text-color);
}

.search__button {
    background-color: #447FF5;
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-color: #447FF5;
    cursor: pointer;
}

.lang__button-wrapper {
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5em;
}

.lang__button {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--gray-border-color);
    padding: 6px 12px;
    margin: 0 20px;
}

.lang__text {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: var(--blue-color);
    margin: 0 1em;
}

svg {
    vertical-align: middle;
}

.wiki__separator {
    margin: 0 10px;
    margin-bottom: 1em;
}

.wiki__line {
    width: 25px;
    height: 0.5px;
    background-color: var(--gray-border-color);
}


/* Styles to footer */

.wiki__wikimedia {
    text-align: center;
}

.wikimedia__text {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0 15px;
    margin-top: 1em;
    margin-bottom: 2em;
    color: var(--gray-text-color);
}

.wiki__things {
    /* background-color: slateblue; */
}

.wiki__list {
    display: grid;
    gap: 10px 15px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    list-style: none;
}

.wiki__item {
    /* background-color: steelblue; */
    /* padding: 8px; */
}

.wiki__link {
    display: flex;
    text-decoration: none;
    align-items: center;
    /* background-color: salmon; */
}

.wikithing__pic {
    width: 30%;
}

.wikithing__text {
    /* background-color: chocolate; */
    display: block;
    width: 70%;
    margin-left: 10px;
    font-weight: 200;
    font-family: var(--font-familiy-content);
}

.wikithing__title {
    color: var(--blue-color);
    font-size: 1.4rem
}

.wikithing__description {
    margin-top: 3px;
    color: var(--gray-text-color);
    font-size: 1.3rem;
}


/* App promotion */

.wiki__app {
    /* background-color: coral; */
    text-align: center;
    padding: 0 4px;
    padding-bottom: 1em;
}

.wikiapp__info,
.wikiapp__text {
    font-size: 1.3rem;
    font-family: var(--font-familiy-content);
    line-height: 1.5;
    color: var(--gray-text-color);
}

.wikiapp__text {
    font-weight: 300;
}

.wikiapp__info {
    display: inline-block;
    margin: 2em 0;
    font-weight: bold;
}

.wikiapp__list {
    margin-top: 1em;
    list-style: none;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 480px) {
    /* TODO: Parte del buscador */
    .wikipedia__search {
        /* background-color: moccasin; */
        height: 42px;
        position: initial;
        margin: 0;
        margin-bottom: 2.5em;
    }
    .search__form {
        /* background-color: salmon; */
        width: 80%;
        margin: 0 auto;
    }
    .wikipedia__idioms {
        margin-top: 2rem;
        margin-bottom: 2.5em;
    }
    /* TODO: Parte del footer */
    .wiki__things {
        /* background-color: slateblue; */
        margin: 0 10px
    }
    .wiki__list {
        display: grid;
        gap: 23px 10px;
        grid-template-columns: repeat(3, 1fr);
    }
    .wiki__app {
        background-color: #f8f9fa;
        text-align: center;
        padding: 0 4px;
        padding-bottom: 1em;
        margin: 10px 15px;
    }
}

@media screen and (min-width: 770px) {
    .wiki__footer {
        display: grid;
        grid-template-areas: "wikimedia wikithings" "wikiapp   wikithings" "wikiapp   wikithings";
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 2fr);
        padding: 15px;
    }
    .wiki__wikimedia {
        text-align: initial;
        display: flex;
        justify-content: space-around;
        grid-area: wikimedia;
    }
    .wikimedia__text {
        margin: 0;
        padding-left: 1em;
        line-height: 1.5;
        font-weight: 300;
        /* background-color: lawngreen; */
    }
    /* To wikithings  */
    .wiki__things {
        grid-area: wikithings;
    }
    /* To app */
    .wiki__app {
        margin: 0;
        margin-top: 3em;
        grid-area: wikiapp;
    }
    .app__dowload {
        display: flex;
    }
    .wikiapp__description {
        margin-left: 1em;
    }
    .wikiapp__info,
    .wikiapp__text {
        margin: 0;
        text-align: initial;
    }
    .wikiapp__info {
        margin-bottom: 1em;
    }
    .wikiapp__list {
        flex-direction: column;
        align-items: flex-start;
    }
}